.intro img{
    height: 200px;
}

.intro1 img:nth-child(1) {
    width: 60%;
}

.intro1 img:nth-child(2) {
    width: 39%;
}

.intro2 img:nth-child(1) {
    width: 45%;
}

.intro2 img:nth-child(2) {
    width: 54%;
}

.arrow {
    font-size: 24px;
    padding: 10px;
    color: #000;
    cursor: pointer;
}

.arrow:hover {
    color: #6ECB63;
}

.leadership img {
    width: 200px;
    height: 200px;
}