.profile img {
    border: #AEC2B6;
    border-radius: 90;
}

.profile {
    display: flex;
    padding: 32px;
    margin: 16px;
    flex: auto;
    background-color: #AEC2B6;
    border-radius: 5px;
    align-items: center;
}

.user-img-container {
    float: left;
}

.profile img {
    height: 40px;
}

.welcome-msg {
    text-align: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    font-weight: bold;
}

.visitor-card, .project-card, .feedback-card {
    padding: 16px;
    margin: 32px 16px;
    border-radius: 5px;
    flex: 1;
    background-color: #AEC2B6;
}

.image-container {
    border: 1px white solid;
    border-radius: 10px;
    background-color: white;
    float: left;
    padding: 10px;
    margin-left: 5%;
    margin-bottom: 10px;
}

.image-container img {
    height: 60px;
}

.chart {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.bar-container, .doughnut-container {
    border: #AEC2B6 1px solid;
    border-radius: 10px;
    padding-left: 64px;
    margin: 16px;
    flex: 1 1 auto;
    background-color: white;
}

.bar-container {
    padding-top: 40px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
