
/* roboto font */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

html, body {
    font-family: 'Comfortaa', cursive;
}

/* align the home page first content center */
.first-view {
    height:750px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.second-view {
    height:750px;
    align-content: center;
    flex-wrap: wrap;
}

/* project images display */
.row1-col1 {
    background-image: url(/image/1.jpg);
    background-repeat: none;
    background-size: cover;
}

.row1-col2 {
    background-image: url(/image/2.jpg);
    background-repeat: none;
    background-size: cover;
}

.row2-col1 {
    background-image: url(/image/3.jpg);
    background-repeat: none;
    background-size: cover;
}

.row2-col2 {
    background-image: url(/image/4.jpg);
    background-repeat: none;
    background-size: cover;
}

/* hover effect for the project images */
.hovtxt {
    background: #000000;
    opacity: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    height: 250px;
    max-height: 100%;
}

.hovtxt:hover {
    opacity: 0.8;
}

.p-70 {
    padding: 70px;
}

.py-6 {
    padding-top: 2rem;
}

.text-para {
    color: #000;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-unstyled li a{
    text-decoration: none;
}

.list-unstyled li a:hover {
    text-decoration: underline;
}

.py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.p-200{
    padding: 0px 200px;
}

.btn-24 {
    font-size: 24px;
    padding: 10px;
    color: #000;
}

.btn-24:hover {
    color: #6ECB63;
}