/* roboto font */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

html,
body {
    font-family: 'Comfortaa', cursive;
}

/* align the home page first content center */
.first-view {
    height: 600px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.second-view {
    height: 750px;
    align-content: center;
    flex-wrap: wrap;
}

/* project images display */
.row1-col1 {
    background-repeat: none;
    background-size: cover;
}

/* .row1-col2 {
    background-repeat: none;
    background-size: cover;
}

.row2-col1 {
    background-repeat: none;
    background-size: cover;
}

.row2-col2 {
    background-repeat: none;
    background-size: cover;
} */

/* hover effect for the project images */
.hovtxt {
    background: #000000;
    opacity: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    height: 250px;
    max-height: 100%;
}

.hovtxt:hover {
    opacity: 0.8;
}

/* .text-truncate.text-truncate--2 {
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
} */

/* .text-ellipsis--2 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
} */