.arrow {
    font-size: 24px;
    /* padding: 10px; */
    color: #000;
    cursor: pointer;
}

.card-text {
    text-align: justify;
}

.card:hover .arrow {
    background-color: #6ECB63;
    color: #fff;
}

.card:hover {
    background-color: #6ECB63;
    color: #fff;
}