figure {
    position: relative;
}

figcaption {
    position: absolute;
    left: 5%;
    color: #fff;
    text-align: left;
}

figcaption.cap {
    bottom: 10%;
    right: 0;
    font-size: xx-large;
}

figcaption.partner-com {
    bottom: 25%;
    left: 5%;
    font-size: large;
}

.arrow {
    font-size: 24px;
    padding: 10px;
    color: #000;
    cursor: pointer;
}

.arrow:hover {
    color: #6ECB63;
}

.gallery img {
    width: 200px;
    height: 200px;
}

footer a {
    text-decoration: none;
}

@media screen and (max-width: 1500px) {
    figcaption.cap {
        bottom: 10%;
        right: 0;
        font-size: x-large;
    }

    figcaption.partner-com {
        bottom: 25%;
        left: 5%;
        font-size: medium;
    }
}

@media screen and (max-width: 1150px) {
    figcaption.cap {
        bottom: 10%;
        right: 0;
        font-size: large;
    }

    figcaption.partner-com {
        bottom: 25%;
        left: 5%;
        font-size: small;
    }
}

@media screen and (max-width: 925px) {
    figcaption.cap {
        bottom: 10%;
        right: 0;
        font-size: medium;
    }

    figcaption.partner-com {
        bottom: 25%;
        left: 5%;
        font-size: x-small;
    }
}

@media screen and (max-width: 750px) {
    figcaption.cap {
        bottom: 10%;
        right: 0;
        font-size: small;
    }

    figcaption.partner-com {
        bottom: 25%;
        left: 5%;
        font-size: xx-small;
    }
}

@media screen and (max-width: 600px) {
    figcaption.cap {
        bottom: 10%;
        right: 0;
        font-size: small;
    }

    figcaption.partner-com {
        bottom: 28%;
        left: 5%;
        font-size: xx-small;
    }
}

@media screen and (max-width: 500px) {
    figcaption.cap {
        bottom: 10%;
        right: 0;
        font-size: small;
    }

    figcaption.partner-com {
        bottom: 30%;
        left: 5%;
        font-size: xx-small;
    }
}

@media screen and (max-width: 400px) {
    figcaption.cap {
        bottom: 10%;
        right: 0;
        font-size: small;
    }

    figcaption.partner-com {
        bottom: 33%;
        left: 5%;
        font-size: xx-small;
    }
}

@media screen and (max-width: 350px) {
    figcaption.cap {
        bottom: 10%;
        right: 0;
        font-size: small;
    }

    figcaption.partner-com {
        bottom: 40%;
        left: 5%;
        font-size: xx-small;
    }
}

@media screen and (max-width: 767px) {}