figure {
    position: relative;
}
  
figcaption {
position: absolute;
left: 5%;
color: #fff;
text-align: left;
}

figcaption.cap{
bottom: 10%;
right: 0;
font-size: xx-large;
}

figcaption.partner-com {
bottom: 23%;
left: 5%;
font-size: large;
}

.arrow {
    font-size: 24px;
    padding: 10px;
    color: #000;
    cursor: pointer;
}

.arrow:hover {
    color: #6ECB63;
}

.gallery img {
    width: 200px;
    height: 200px;
}

footer a{
    text-decoration: none;
}