@media screen and (min-width: 951px) {
    .intro { height: 600px; } 
    .intro img {margin-left: 5px;} 
    .intro img:nth-child(1) {
        width: 30%;
        height: 100%;
    }
    .intro img:nth-child(2) {
        width: 30%;
        height: 70%;
    }
    .intro img:nth-child(3) {
        width: 30%;
        height: 40%;
    }

    .operation img {margin-right: 5px;}
    .operation img:nth-child(3) {
        width: 30%;
        height: 100%;
    }
    .operation img:nth-child(2) {
        width: 30%;
        height: 70%;
    }
    .operation img:nth-child(1) {
        width: 30%;
        height: 40%;
    }

    .description {
        margin: auto 0;
    }
}

@media screen and (max-width: 950px) {
    .intro { height: 600px; } 
    .intro img {margin-left: 5px;} 
    .intro img:nth-child(1) {
        width: 30%;
        height: 100%;
    }
    
    .intro img:nth-child(2) {
        width: 30%;
        height: 70%;
    }
    
    .intro img:nth-child(3) {
        width: 30%;
        height: 40%;
    }
}

@media screen and (max-width: 783px) {
    .intro { height: 600px; } 
    .intro img{
        width: 30%;
        height: 30%;
    }
}

@media screen and (max-width: 767px) {
    .intro { 
        height: 500px;
    } 
    .intro img{
        margin-left: 10px;
        width: 30%;
        height: 40%;
    }
}